{# <plugin root>/src/Resources/app/administration/src/module/sw-cms/blocks/text-image/image-text-reversed/component/sw-cms-block-image-text-reversed.html.twig #}
{% block sw_cms_block_images_text %}
	<div class="sw-cms-block-image-text-reversed">
		<slot name="alt-image"></slot>
		<slot name="text"></slot>
		<slot name="primary-image"></slot>
	</div>
{% endblock %}

{# TODO: Admin styling for preview component & editor #}
