{# <plugin root>/src/Resources/app/administration/src/module/sw-cms/blocks/text-image/image-text-reversed/preview/sw-cms-preview-image-text-reversed.html.twig #}
{% block sw_cms_block_images_text %}
	<div class="sw-cms-preview-product-slider">
		<h2>Images Text</h2>
	</div>
{% endblock %}

{# TODO: Admin styling for preview component & editor #}
