<footer class="footer-main drt-footer">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-12 col-lg-7 d-flex gap-4 drt-footer__content">
				<div class="drt-footer__logo">
					<picture><img class="img-fluid" src="{{ asset('bundles/thstarterplugin/footer-logo.png', 'asset') }}" alt="Do Rad Things Logo "></picture>
				</div>
				<div class="drt-footer__text">
					<p class="h3">Mark Rivard</p>
					<p>I aim to inspire people to dream big, and encourage a strong work ethic and an independent frame of mind.&nbsp; There are an infinite number of paths to success; I hope to help shed some light on how to decide which path is best suited for every individual.</p>
				</div>
			</div>
			<div class="col-12 col-lg-5">
				<ul class="drt-footer__links">
					<li class="nav__item">
						<a class="nav__link" href="/">Shop
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="news">Art Education</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="about">About
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="discount.html">Media</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="contact.html">Contact</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="drt-footer__brands">
			<ul class="drt-footer__social">
				<li class="drt-footer__social-item fb">
					<svg width="34" height="34" viewbox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M11.5164 22C5.15724 22.0147 0.0114251 17.0908 1.67598e-05 10.9802C-0.0107205 5.02512 5.13912 0.0754553 11.2962 0.00097601C17.6802 -0.0792818 22.9656 4.80039 22.9998 10.8666C23.0354 17.0696 17.9433 21.9846 11.5164 22ZM14.8664 4.26941C13.9208 4.26941 12.9981 4.1975 12.0921 4.28546C10.448 4.44597 9.68767 5.30441 9.6568 6.88774C9.64674 7.43349 9.6568 7.97925 9.65143 8.525C9.65143 8.61553 9.63667 8.7067 9.62594 8.82869H8.13615V11.2043H9.66553V18.2099H12.6149V11.1632H14.6603C14.7348 10.3677 14.8066 9.60687 14.8825 8.80301H12.6055C12.6055 8.29321 12.5975 7.82387 12.6055 7.35452C12.6163 6.83637 12.778 6.68934 13.3155 6.68549C13.8269 6.68228 14.3376 6.68549 14.8644 6.68549L14.8664 4.26941Z" fill="white"></path>
					</svg>
				</li>
				<li class="drt-footer__social-item ig">
					<svg width="34" height="34" viewbox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M14.3791 6.83052C14.6263 6.93031 14.8508 7.08313 15.038 7.27913C15.2253 7.47514 15.3713 7.70998 15.4665 7.96854C15.5926 8.32455 15.6593 8.70058 15.6635 9.08021C15.691 9.71151 15.6979 9.90078 15.6979 11.5C15.6979 13.0992 15.691 13.2885 15.6635 13.9198C15.6594 14.2998 15.5927 14.6763 15.4665 15.0327C15.371 15.2911 15.2248 15.5258 15.0374 15.7216C14.8499 15.9174 14.6252 16.07 14.3779 16.1695C14.0374 16.3013 13.6777 16.371 13.3146 16.3755C12.7107 16.4043 12.5297 16.4115 11 16.4115C9.47032 16.4115 9.28927 16.4043 8.68542 16.3755C8.32192 16.3712 7.96184 16.3015 7.62094 16.1695C7.37373 16.0697 7.14925 15.9169 6.96196 15.7209C6.77468 15.5249 6.62874 15.29 6.53355 15.0315C6.40742 14.6754 6.34075 14.2994 6.33646 13.9198C6.30896 13.2885 6.30323 13.0992 6.30323 11.5C6.30323 9.90078 6.30896 9.71151 6.33761 9.08021C6.3414 8.70025 6.40768 8.32381 6.53354 7.96734C6.629 7.70889 6.77517 7.47421 6.96265 7.27841C7.15014 7.08261 7.37477 6.93004 7.62209 6.83052C7.96262 6.69866 8.3223 6.62896 8.68542 6.62448C9.28927 6.59573 9.47032 6.58974 11 6.58974C12.5297 6.58974 12.7107 6.59573 13.3146 6.62567C13.678 6.62964 14.0381 6.69893 14.3791 6.83052ZM8.0575 11.5C8.0575 12.1084 8.23008 12.7032 8.5534 13.2091C8.87673 13.715 9.33629 14.1092 9.87396 14.3421C10.4116 14.5749 11.0033 14.6358 11.5741 14.5171C12.1448 14.3984 12.6691 14.1055 13.0807 13.6752C13.4922 13.245 13.7724 12.6969 13.886 12.1001C13.9995 11.5034 13.9412 10.8849 13.7185 10.3228C13.4958 9.76065 13.1187 9.28021 12.6348 8.94219C12.1509 8.60417 11.582 8.42375 11 8.42375C10.2196 8.42375 9.47117 8.74785 8.91934 9.32476C8.36751 9.90167 8.0575 10.6841 8.0575 11.5ZM13.3707 8.30276C13.3707 8.44491 13.4111 8.58388 13.4866 8.70207C13.5621 8.82027 13.6695 8.91239 13.7951 8.9668C13.9208 9.0212 14.059 9.03543 14.1924 9.0077C14.3257 8.97996 14.4482 8.91151 14.5444 8.81099C14.6405 8.71047 14.706 8.5824 14.7325 8.44298C14.759 8.30355 14.7454 8.15904 14.6934 8.0277C14.6414 7.89637 14.5532 7.78412 14.4402 7.70514C14.3271 7.62616 14.1942 7.58401 14.0582 7.58401C13.8759 7.58401 13.701 7.65973 13.5721 7.79452C13.4432 7.92932 13.3707 8.11213 13.3707 8.30276ZM11 9.50307C10.6222 9.50307 10.2529 9.62019 9.93881 9.83961C9.62469 10.059 9.37987 10.3709 9.2353 10.7358C9.09073 11.1007 9.0529 11.5022 9.1266 11.8896C9.2003 12.2769 9.38222 12.6328 9.64936 12.912C9.91649 13.1913 10.2568 13.3815 10.6274 13.4586C10.9979 13.5356 11.3819 13.4961 11.731 13.3449C12.08 13.1938 12.3783 12.9378 12.5882 12.6094C12.7981 12.281 12.9101 11.895 12.9101 11.5C12.9101 10.9704 12.7089 10.4625 12.3506 10.088C11.9924 9.71346 11.5066 9.50307 11 9.50307ZM22 11.5C22 13.7745 21.3549 15.9979 20.1462 17.8891C18.9375 19.7802 17.2195 21.2542 15.2095 22.1246C13.1995 22.995 10.9878 23.2228 8.85401 22.779C6.72022 22.3353 4.76021 21.24 3.22183 19.6317C1.68345 18.0234 0.635805 15.9743 0.211366 13.7435C-0.21307 11.5128 0.00476586 9.20049 0.837329 7.09914C1.66989 4.99779 3.07979 3.20174 4.88873 1.9381C6.69767 0.674464 8.82441 -1.33143e-06 11 -1.42652e-06C13.9174 -1.55405e-06 16.7153 1.2116 18.7782 3.36827C20.8411 5.52494 22 8.45001 22 11.5ZM8.63844 5.54635C8.163 5.55649 7.69265 5.65087 7.2474 5.82547C6.86689 5.97931 6.52133 6.21456 6.23285 6.51615C5.94437 6.81774 5.71934 7.17902 5.57219 7.57682C5.40531 8.04193 5.31504 8.53324 5.30521 9.02989C5.27771 9.66958 5.27084 9.87322 5.27084 11.5C5.27084 13.1268 5.27771 13.3304 5.30521 13.9701C5.31504 14.4667 5.40532 14.9581 5.57219 15.4232C5.71934 15.821 5.94437 16.1822 6.23285 16.4838C6.52133 16.7854 6.86689 17.0207 7.2474 17.1745C7.69229 17.349 8.16224 17.4434 8.6373 17.4536C9.24917 17.4824 9.44396 17.4896 11 17.4896C12.556 17.4896 12.7508 17.4824 13.3627 17.4536C13.8377 17.4437 14.3077 17.3498 14.7526 17.1757C15.1334 17.0219 15.4793 16.7865 15.768 16.4847C16.0567 16.1829 16.2818 15.8213 16.429 15.4232C16.5954 14.958 16.6853 14.4667 16.6948 13.9701C16.7223 13.3304 16.7292 13.1268 16.7292 11.5C16.7292 9.87322 16.7223 9.66958 16.6948 9.02989C16.6853 8.53331 16.5954 8.042 16.429 7.57682C16.2817 7.1789 16.0565 6.81755 15.7678 6.51596C15.4791 6.21436 15.1333 5.97917 14.7526 5.82547C14.3077 5.651 13.8378 5.55663 13.3627 5.54635C12.7508 5.5176 12.556 5.51041 11 5.51041C9.44396 5.51041 9.25031 5.5176 8.63844 5.54635Z" fill="white"></path>
					</svg>
				</li>
			</ul>
		</div>
		<div class="drt-footer__copyright">
			<p>© Do Rad Things. All rights reserved.</p><img class="img-fluid" src="{{ asset('bundles/thstarterplugin/white-logo.png', 'asset') }}" alt="Great Pumpkin Logo "></div>
	</div>
</footer>
